BigVR/BigVir2048.xml1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="name" type="xs:string"/>
  <xs:element name="age" type="xs:string"/>
  <xs:element name="weight" type="xs:string"/>
  <xs:element name="MedicalHistory" type="MedicalHistoryType"/>
  <xs:element name="Relations" type="RelationsType"/>
  <xs:element name="SocialHistory" type="SocialHistoryType"/>
  <xs:element name="BigVir" type="BigVirType"/>
  <xs:complexType name="consultationType">
    <xs:sequence>
      <xs:element type="xs:string" name="date"/>
      <xs:element type="xs:string" name="motivation"/>
      <xs:element type="xs:string" name="description"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultationsType">
    <xs:sequence>
      <xs:element type="consultationType" name="consultation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hospitalizationType">
    <xs:sequence>
      <xs:element type="xs:string" name="date"/>
      <xs:element type="xs:string" name="motivation"/>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="xs:string" name="term"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hospitalizationsType">
    <xs:sequence>
      <xs:element type="hospitalizationType" name="hospitalization"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resultType">
    <xs:sequence>
      <xs:element type="xs:string" name="positive"/>
      <xs:element type="xs:string" name="date"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TestResultsType">
    <xs:sequence>
      <xs:element type="resultType" name="result"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MedicalHistoryType">
    <xs:sequence>
      <xs:element type="consultationsType" name="consultations"/>
      <xs:element type="hospitalizationsType" name="hospitalizations"/>
      <xs:element type="TestResultsType" name="TestResults"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personType">
    <xs:sequence>
      <xs:element type="xs:string" name="proximity"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
  </xs:complexType>
  <xs:complexType name="RelationsType">
    <xs:sequence>
      <xs:element type="personType" name="person"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SocialHistoryType">
    <xs:sequence>
      <xs:element ref="big:events" xmlns:big="file://F:/WORK/S7/xml/xmlTD/BigVR/BigVir2048.xsd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="numberperhourType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="time" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="wholedayType">
    <xs:sequence>
      <xs:element type="numberperhourType" name="numberperhour" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="date"/>
  </xs:complexType>
  <xs:complexType name="PopularityType">
    <xs:sequence>
      <xs:element type="wholedayType" name="wholeday"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="siteType">
    <xs:sequence>
      <xs:element type="PopularityType" name="Popularity" minOccurs="0"/>
      <xs:element name="address">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="123 route X"/>
            <xs:enumeration value="555 route Y"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="description" minOccurs="0"/>
      <xs:element type="xs:string" name="siteDescription" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="siteId" use="optional"/>
  </xs:complexType>
  <xs:complexType name="sitesType">
    <xs:sequence>
      <xs:element type="siteType" name="site" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="participantType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="citizenId" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="participantsType">
    <xs:sequence>
      <xs:element type="participantType" name="participant" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eventType">
    <xs:sequence>
      <xs:element name="date">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="19/05/2021"/>
            <xs:enumeration value="21/05/2021"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="eventDescription">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Exposition de peinture"/>
            <xs:enumeration value="Concert"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="participantsType" name="participants"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="siteId" use="optional"/>
  </xs:complexType>
  <xs:complexType name="eventsType">
    <xs:sequence>
      <xs:element type="eventType" name="event" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BigVirType">
    <xs:sequence>
      <xs:element ref="big:citizen" xmlns:big="file://F:/WORK/S7/xml/xmlTD/BigVR/BigVir2048.xsd"/>
      <xs:element type="sitesType" name="sites"/>
      <xs:element type="eventsType" name="events"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>