BigVR/BigVir2048.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BigVir" type="BigVirType"/>
  <xs:complexType name="consultationsType">
    <xs:sequence>
      <xs:element type="xs:string" name="consultation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TestResultsType">
    <xs:sequence>
      <xs:element type="xs:string" name="result"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MedicalHistoryType">
    <xs:sequence>
      <xs:element type="consultationsType" name="consultations"/>
      <xs:element type="TestResultsType" name="TestResults"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="citizenType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="age"/>
      <xs:element type="xs:string" name="weight"/>
      <xs:element type="MedicalHistoryType" name="MedicalHistory"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
  </xs:complexType>
  <xs:complexType name="BigVirType">
    <xs:sequence>
      <xs:element type="citizenType" name="citizen"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>